__pycache__/
*.py[cod]
*.so
*.dll
*.dylib
*.egg-info/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.venv/
venv/
build/
dist/
.flet/
*.spec
*.log
.DS_Store
.env
.env.*
!/.env.example
hust_helper_user_data/
